<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>527070722499-8qtkq1oqkveapng949atmdt7l38r75ps.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.527070722499-8qtkq1oqkveapng949atmdt7l38r75ps</string>
	<key>API_KEY</key>
	<string>AIzaSyDzEcz1sz65JXpujOfFrRqUG2kD_tooA50</string>
	<key>GCM_SENDER_ID</key>
	<string>527070722499</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wbrawner.projects.budget.ios</string>
	<key>PROJECT_ID</key>
	<string>budget-c7da5</string>
	<key>STORAGE_BUCKET</key>
	<string>budget-c7da5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:527070722499:ios:0e0c4e20d30697df73e576</string>
	<key>DATABASE_URL</key>
	<string>https://budget-c7da5.firebaseio.com</string>
</dict>
</plist>